In [136]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
from pandas import ExcelWriter
import xlsxwriter
from datetime import datetime
import pandas_datareader.data as wb

In [137]:
kospi_market_cap = pd.read_excel('/workspace/Jupyter_notebook/financial_analysis/data/kospi_market_cap.xls')

In [138]:
kospi_market_cap

       종목코드       종목명      현재가  ...          상장주식수  외국인 보유주식수 외국인 지분율(%)
0    005930      삼성전자   60,400  ...  5,969,782,550        NaN        NaN
1    000660    SK하이닉스   99,300  ...    728,002,365        NaN        NaN
2    005935     삼성전자우   51,200  ...    822,886,700        NaN        NaN
3    207940  삼성바이오로직스  519,000  ...     66,165,000        NaN        NaN
4    035420     NAVER  185,000  ...    164,813,395        NaN        NaN
..      ...       ...      ...  ...            ...        ...        ...
912  000227   유유제약2우B   19,800  ...        164,080        NaN        NaN
913  001799   대한제당3우B   24,850  ...        129,656        NaN        NaN
914  000547   흥국화재2우B   19,600  ...        153,600        NaN        NaN
915  001527     동양2우B    9,600  ...        308,569        NaN        NaN
916  001529     동양3우B   28,050  ...         89,722        NaN        NaN

[917 rows x 15 columns]

In [139]:
start = len(kospi_market_cap['종목명']) - 300 - 1
end = len(kospi_market_cap['종목명']) - 1
kospi_bottom = []

In [140]:
for i in range(start, end):
    kospi_bottom.append(kospi_market_cap['종목명'][i])

In [141]:
start

616

In [142]:
kospi_bottom

['테이팩스',
 '유니온머티리얼',
 '대현',
 'CJ씨푸드',
 '부국철강',
 'SK우',
 '미원화학',
 '현대코퍼레이션홀딩스',
 '남영비비안',
 '다스코',
 '광명전기',
 '미원홀딩스',
 '한미글로벌',
 '윌비스',
 '영흥철강',
 '삼화왕관',
 '비상교육',
 '천일고속',
 'KC코트렐',
 '대유에이텍',
 '휴니드',
 '금호석유우',
 'CJ우',
 '경동인베스트',
 '주연테크',
 'KTcs',
 '동성화학',
 '신흥',
 '동방아그로',
 '두올',
 '시디즈',
 '삼부토건',
 '엔케이',
 '포스코강판',
 '한국내화',
 '대호에이엘',
 '동남합성',
 '세화아이엠씨',
 '금강공업',
 '한솔홈데코',
 '대림씨엔에스',
 '신영와코루',
 '우신시스템',
 '새론오토모티브',
 '화천기공',
 '방림',
 '한국제지',
 '성보화학',
 '가온전선',
 '화인베스틸',
 'YG PLUS',
 '대양금속',
 '사조씨푸드',
 '범양건영',
 '그린케미칼',
 '참엔지니어링',
 '수출포장',
 '세원정공',
 '대창단조',
 '조흥',
 '동일고무벨트',
 'KCTC',
 '대신증권2우B',
 '영풍제지',
 '우리들제약',
 '우진',
 '조비',
 '고려산업',
 '에넥스',
 '대유플러스',
 '대원전선',
 '인지컨트롤스',
 '삼정펄프',
 'STX중공업',
 '동양고속',
 '유유제약',
 'SG충방',
 '영화금속',
 'DSR',
 '디아이씨',
 '이건산업',
 '상신브레이크',
 'KTis',
 '대교우B',
 '티에이치엔',
 '평화산업',
 '엔케이물산',
 '한진중공업홀딩스',
 '사조오양',
 '휴스틸',
 '오리엔트바이오',
 '동양피스톤',
 '조광페인트',
 '한농화성',
 '한국석유',
 '진양화학',
 '까뮤이앤씨',
 '우진아이엔에스',
 '키다리스튜디오',
 '일성건설',
 '화천기계',
 '대구백화점',
 '유성기업',
 '제일연마',
 '영보화학',
 '유엔젤',
 'DSR제강',
 '두산솔루스1우',
 '대림B&Co',
 '인터지스',
 'CS홀딩스',
 '세하',
 '한국프랜지',
 '롯데지주우',
 '태양금속',
 '체시스',
 'GS우',
 '금비',
 '한익스프레스',
 '메타랩스',
 '대림통상',
 '만호제강',
 '모나미',
 '미래에셋대우우',
 '태경화학',
 'NI스틸',
 '삼성공조',
 '유니온',
 '평화홀딩스',
 '대원화성',
 'TCC스틸',
 '진양산업',
 '코오롱인더우',
 '이구산업',
 '덕성',
 '동방',
 '혜인',
 '서울식품',
 '세우글로벌',
 '부국증권우',
 '두산퓨얼셀1우',
 'SJM',
 '갤럭시아에스엠',
 '동양네트웍스',
 '선창산업',
 '선도전기',
 '두산2우B',
 '조일알미늄',
 '한세엠케이',
 '한신기계',
 '동원수산',
 '신풍제지',
 '삼아알미늄',
 '문배철강',
 '롯데칠성우',
 '한국특수형강',
 '유한양행우',
 '폴루스바이오팜',
 '카리스국보',
 'KR모터스',
 'TBH글로벌',
 '한솔로지스틱스',
 '페이퍼코리아',
 'SJM홀딩스',
 '케이비아이동국실업',
 '형지엘리트',
 'MH에탄올',
 '흥아해운',
 '동원금속',
 '덕양산업',
 '유화증권우',
 '바다로19호',
 'SK케미칼우',
 '한일철강',
 '한국종합기술',
 '베트남개발1',
 '삼영화학',
 '신송홀딩스',
 '진양폴리',
 '진도',
 '메디파트너생명공학',
 '호텔신라우',
 '케이탑리츠',
 '원림',
 '성문전자',
 '한솔PNS',
 '두산솔루스2우B',
 '미래아이앤지',
 '컨버즈',
 'WISCOM',
 '이화산업',
 '코아스',
 '한진칼우',
 '대동전자',
 '금호전기',
 '하이스틸',
 '인팩',
 '성안',
 '동일제강',
 '하이골드12호',
 '신한',
 '에쓰씨엔지니어링',
 '우진플라임',
 '한국전자홀딩스',
 '이스타코',
 '삼화전자',
 '국동',
 '태원물산',
 '하이골드8호',
 '한성기업',
 '유안타증권우',
 '두산퓨얼셀2우B',
 '신풍제약우',
 '경인전자',
 '키위미디어그룹',
 '대한항공우',
 '청호컴넷',
 '웅진에너지',
 'BYC우',
 '에이엔피',
 '신화실업',
 'LG하우시스우',
 '하이골드3호',
 '지코',
 '전방',
 '세기상사',
 '에이리츠',
 '세방우',
 '남양유업우',
 '모두투어리츠',
 'SK디스커버리우',
 '넥센타이어1우B',
 '씨아이테크',
 '대덕전자1우',
 '일정실업',
 '태영건설우',
 '하이트진로2우B',
 '한국주강',
 '부산주공',
 '대상우',
 '쌍용양회우',
 '하이트론',
 '녹십자홀딩스2우',
 '태양금속우',
 '한화우',
 '한화솔루션우',
 '삼양홀딩스우',
 'NPC우',
 '넥센우',
 '남선알미우',
 '현대건설우',
 '코리아써우',
 '삼양사우',
 'SK증권우',
 '계양전기우',
 '덕성우',
 '하나니켈1호',
 '코오롱우',
 '금호산업우',
 '한화투자증권우',
 '유유제약1우',
 '성문전자우',
 'SK네트웍스우',
 '대한제당우',
 '서울식품우',
 '동원시스템즈우',
 '동북아12호',
 '동북아13호',
 '대원전선우',
 '일양약품우',
 '크라운해태홀딩스우',
 '노루페인트우',
 '삼성중공우',
 '깨끗한나라우',
 '하이트진로홀딩스우',
 '성신양회우',
 '현대비앤지스틸우',
 'CJ씨푸드1우',
 '금강공업우',
 '크라운제과우',
 'DB하이텍1우',
 '대상홀딩스우',
 '코오롱글로벌우',
 'JW중외제약우',
 '동부건설우',
 '한양증권우',
 '진흥기업2우B',
 '진흥기업우B',
 '코리아써키트2우B',
 '흥국화재우',
 'JW중외제약2우B',
 '하나니켈2호',
 '신원우',
 '동양우',
 '동부제철우',
 '노루홀딩스우',
 '유유제약2우B',
 '대한제당3우B',
 '흥국화재2우B',
 '동양2우B']

In [143]:
company_name = 'AJ네트웍스'

In [144]:
company_ifrs = pd.read_excel('/workspace/Jupyter_notebook/financial_analysis/data/ifrs/'+company_name + '.xlsx')

In [145]:
company_ifrs

   Unnamed: 0 주요재무정보              주요재무정보.1  ...  현금배당수익률  현금배당성향(%)  발행주식수(보통주)
0           1     연간     2014/12  (IFRS연결)  ...      NaN       0.00  34082240.0
1           2     연간     2015/12  (IFRS연결)  ...     0.00       0.00  46822295.0
2           3     연간     2016/12  (IFRS연결)  ...     0.92      20.80  46822295.0
3           4     연간     2017/12  (IFRS연결)  ...     1.23      26.85  46822295.0
4           5     연간     2018/12  (IFRS연결)  ...     2.22     413.15  46822295.0
5           6     연간  2019/12(E)  (IFRS연결)  ...      NaN        NaN         NaN
6           7     연간  2020/12(E)  (IFRS연결)  ...      NaN        NaN         NaN
7           8     연간  2021/12(E)  (IFRS연결)  ...      NaN        NaN         NaN

[8 rows x 36 columns]

In [146]:
len(company_ifrs['PBR(배)'].dropna())

5

In [147]:
company_ifrs['PBR(배)'][7]

nan

In [148]:
type(company_ifrs['PBR(배)'][7])

numpy.float64

In [149]:
len(kospi_bottom)

300

In [150]:
pbr_list = []
for i in range(0, len(kospi_bottom)):
    try:
        company_name = kospi_bottom[i]
        company_ifrs = pd.read_excel('/workspace/Jupyter_notebook/financial_analysis/data/ifrs/'+company_name + '.xlsx')
        pbr_recently = len(company_ifrs['PBR(배)'].dropna()) - 1
        company_ifrs['PBR(배)'].dropna(inplace = True)
        company_pbr = company_ifrs['PBR(배)'].reset_index()
        pbr = company_pbr['PBR(배)'][pbr_recently]
        
        
        if(pbr < 0.2):
            continue
        else:
            pbr_list.append([kospi_bottom[i], pbr])
    
    except:
        print('ETF:'+ kospi_bottom[i])

ETF:대현
ETF:CJ씨푸드
ETF:부국철강
ETF:SK우
ETF:미원화학
ETF:삼화왕관
ETF:천일고속
ETF:휴니드
ETF:금호석유우
ETF:CJ우
ETF:시디즈
ETF:한국내화
ETF:대호에이엘
ETF:동남합성
ETF:대림씨엔에스
ETF:성보화학
ETF:화인베스틸
ETF:그린케미칼
ETF:수출포장
ETF:조흥
ETF:KCTC
ETF:대신증권2우B
ETF:영풍제지
ETF:조비
ETF:영화금속
ETF:KTis
ETF:대교우B
ETF:사조오양
ETF:한농화성
ETF:한국석유
ETF:진양화학
ETF:까뮤이앤씨
ETF:화천기계
ETF:DSR제강
ETF:두산솔루스1우
ETF:대림B&Co
ETF:세하
ETF:한국프랜지
ETF:롯데지주우
ETF:태양금속
ETF:GS우
ETF:미래에셋대우우
ETF:NI스틸
ETF:코오롱인더우
ETF:이구산업
ETF:서울식품
ETF:부국증권우
ETF:두산퓨얼셀1우
ETF:SJM
ETF:두산2우B
ETF:조일알미늄
ETF:한신기계
ETF:문배철강
ETF:롯데칠성우
ETF:한국특수형강
ETF:유한양행우
ETF:TBH글로벌
ETF:SJM홀딩스
ETF:유화증권우
ETF:SK케미칼우
ETF:한국종합기술
ETF:베트남개발1
ETF:삼영화학
ETF:진양폴리
ETF:호텔신라우
ETF:한솔PNS
ETF:두산솔루스2우B
ETF:한진칼우
ETF:동일제강
ETF:삼화전자
ETF:태원물산
ETF:유안타증권우
ETF:두산퓨얼셀2우B
ETF:신풍제약우
ETF:대한항공우
ETF:웅진에너지
ETF:BYC우
ETF:신화실업
ETF:LG하우시스우
ETF:지코
ETF:에이리츠
ETF:세방우
ETF:남양유업우
ETF:모두투어리츠
ETF:SK디스커버리우
ETF:넥센타이어1우B
ETF:대덕전자1우
ETF:태영건설우
ETF:하이트진로2우B
ETF:한국주강
ETF:부산주공
ETF:대상우
ETF:쌍용양회우
ETF:하이트론
ETF:녹십자홀딩스2우
ETF:태양금속우
ETF:한화우
ETF:한화솔루션우
ETF:삼양홀딩스우
ETF:NPC우
ETF:넥센우
ETF:남선알미우
ETF:현대건설우
ETF:코리아써우
ETF:삼양사우
ETF:SK증권우
ETF:계양전기우
ETF:덕성우
ETF:하나니켈1호
ETF:코오롱우
ETF:금호산업우
ETF:한화투자증권우
ETF:유유제약1우
ETF:성문전자우
ETF:SK네트웍스우
ETF:대한제당우
ETF:서울식품우
ETF:동원시스템즈우
ETF:동북아12호
ETF:동북아13호
ETF:대원전선우
ETF:일양약품우
ETF:크라운해태홀딩스우
ETF:노루페인트우
ETF:삼성중공우
ETF:깨끗한나라우
ETF:하이트진로홀딩스우
ETF:성신양회우
ETF:현대비앤지스틸우
ETF:CJ씨푸드1우
ETF:금강공업우
ETF:크라운제과우
ETF:DB하이텍1우
ETF:대상홀딩스우
ETF:코오롱글로벌우
ETF:JW중외제약우
ETF:동부건설우
ETF:한양증권우
ETF:진흥기업2우B
ETF:진흥기업우B
ETF:코리아써키트2우B
ETF:흥국화재우
ETF:JW중외제약2우B
ETF:하나니켈2호
ETF:신원우
ETF:동양우
ETF:동부제철우
ETF:노루홀딩스우
ETF:유유제약2우B
ETF:대한제당3우B
ETF:흥국화재2우B
ETF:동양2우B

In [151]:
pbr_df = pd.DataFrame(pbr_list, columns= ['기업명', 'PBR'])

In [152]:
pbr_df

            기업명   PBR
0          테이팩스  1.07
1       유니온머티리얼  0.91
2    현대코퍼레이션홀딩스  0.46
3         남영비비안  0.33
4           다스코  0.99
..          ...   ...
141        에이엔피  0.48
142      하이골드3호  0.92
143        세기상사  1.00
144       씨아이테크  1.14
145        일정실업  0.53

[146 rows x 2 columns]

In [153]:
pbr_df.sort_values(by=['PBR'],ascending=True).dropna()

           기업명    PBR
60         휴스틸   0.21
37        세원정공   0.21
59    한진중공업홀딩스   0.22
13      경동인베스트   0.22
67       대구백화점   0.23
..         ...    ...
57        평화산업   4.32
100    폴루스바이오팜   5.10
33        대양금속   7.26
115  메디파트너생명공학  10.66
120        컨버즈  17.84

[146 rows x 2 columns]

In [179]:
per_list = []
for i in range(0, len(kospi_bottom)):
    try:
        company_name = kospi_bottom[i]
        company_ifrs = pd.read_excel('/workspace/Jupyter_notebook/financial_analysis/data/ifrs/'+company_name + '.xlsx')
        per_recently = len(company_ifrs['PER(배)'].dropna()) - 1
        company_ifrs['PER(배)'].dropna(inplace = True)
        company_per = company_ifrs['PER(배)'].reset_index()
        #print(company_per)
        per = company_per['PER(배)'][per_recently]
        if(per < 0):
            continue
        elif(per < 10):
            per_list.append([kospi_bottom[i], per])

            
    except:
        print()

In [180]:
per_df = pd.DataFrame(per_list, columns= ['기업명', 'PER'])

In [181]:
per_df

           기업명   PER
0   현대코퍼레이션홀딩스  6.31
1          다스코  6.95
2        미원홀딩스  8.32
3       경동인베스트  3.23
4         KTcs  9.36
5         동성화학  5.69
6           두올  6.71
7         금강공업  7.10
8        한솔홈데코  9.46
9         화천기공  7.14
10        범양건영  6.95
11      참엔지니어링  8.24
12        대창단조  7.12
13      동일고무벨트  8.22
14         DSR  8.07
15       티에이치엔  8.52
16    한진중공업홀딩스  9.57
17         휴스틸  4.89
18       동양피스톤  5.60
19     우진아이엔에스  4.58
20          금비  9.81
21      한익스프레스  9.85
22       TCC스틸  4.57
23          동방  3.09
24        신풍제지  5.22
25      바다로19호  5.95
26       케이탑리츠  7.29
27      하이골드8호  5.62
28      하이골드3호  7.51

In [182]:
per_df.sort_values(by=['PER'],ascending=True).dropna().reset_index()

    index         기업명   PER
0      23          동방  3.09
1       3      경동인베스트  3.23
2      22       TCC스틸  4.57
3      19     우진아이엔에스  4.58
4      17         휴스틸  4.89
5      24        신풍제지  5.22
6      18       동양피스톤  5.60
7      27      하이골드8호  5.62
8       5        동성화학  5.69
9      25      바다로19호  5.95
10      0  현대코퍼레이션홀딩스  6.31
11      6          두올  6.71
12     10        범양건영  6.95
13      1         다스코  6.95
14      7        금강공업  7.10
15     12        대창단조  7.12
16      9        화천기공  7.14
17     26       케이탑리츠  7.29
18     28      하이골드3호  7.51
19     14         DSR  8.07
20     13      동일고무벨트  8.22
21     11      참엔지니어링  8.24
22      2       미원홀딩스  8.32
23     15       티에이치엔  8.52
24      4        KTcs  9.36
25      8       한솔홈데코  9.46
26     16    한진중공업홀딩스  9.57
27     20          금비  9.81
28     21      한익스프레스  9.85

In [183]:
pd.merge(pbr_df, per_df)

           기업명   PBR   PER
0   현대코퍼레이션홀딩스  0.46  6.31
1          다스코  0.99  6.95
2        미원홀딩스  0.61  8.32
3       경동인베스트  0.22  3.23
4         KTcs  0.66  9.36
5         동성화학  0.69  5.69
6           두올  0.58  6.71
7         금강공업  0.32  7.10
8        한솔홈데코  0.68  9.46
9         화천기공  0.31  7.14
10        범양건영  0.76  6.95
11      참엔지니어링  1.25  8.24
12        대창단조  0.49  7.12
13      동일고무벨트  0.46  8.22
14         DSR  0.44  8.07
15       티에이치엔  1.07  8.52
16    한진중공업홀딩스  0.22  9.57
17         휴스틸  0.21  4.89
18       동양피스톤  0.67  5.60
19     우진아이엔에스  0.70  4.58
20          금비  0.50  9.81
21      한익스프레스  0.78  9.85
22       TCC스틸  0.39  4.57
23          동방  0.43  3.09
24        신풍제지  0.69  5.22
25      바다로19호  0.96  5.95
26       케이탑리츠  0.78  7.29
27      하이골드8호  0.58  5.62
28      하이골드3호  0.92  7.51