In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
from pandas import ExcelWriter
import xlsxwriter
from datetime import datetime
import pandas_datareader.data as wb

In [3]:
kosdaq_market_cap = pd.read_excel('/workspace/Jupyter_notebook/financial_analysis/data/kosdaq_market_cap.xls')

In [4]:
kosdaq_market_cap

        종목코드         종목명      현재가  ...        상장주식수  외국인 보유주식수 외국인 지분율(%)
0     091990    셀트리온헬스케어   61,000  ...  143,928,048        NaN        NaN
1     028300       에이치엘비  106,000  ...   42,738,918        NaN        NaN
2     035760      CJ ENM  148,300  ...   21,929,154        NaN        NaN
3     263750        펄어비스  189,300  ...   13,023,000        NaN        NaN
4     253450     스튜디오드래곤   84,100  ...   28,096,370        NaN        NaN
...      ...         ...      ...  ...          ...        ...        ...
1403  323210  이베스트이안스팩1호    2,020  ...    3,200,000        NaN        NaN
1404  335870  IBKS제12호스팩    2,050  ...    3,120,000        NaN        NaN
1405  032685       소프트센우   39,100  ...      142,857        NaN        NaN
1406  149940          모다      155  ...   21,160,409        NaN        NaN
1407  122800          썬텍       65  ...   35,153,085        NaN        NaN

[1408 rows x 15 columns]

In [5]:
start = len(kosdaq_market_cap['종목명']) - 400 - 1
end = len(kosdaq_market_cap['종목명']) - 1
kosdaq_bottom = []

In [8]:
for i in range(start, end):
    kosdaq_bottom.append(kosdaq_market_cap['종목명'][i])

In [9]:
start

1007

In [11]:
pbr_list = []
for i in range(0, len(kosdaq_bottom)):
    try:
        company_name = kosdaq_bottom[i]
        company_ifrs = pd.read_excel('/workspace/Jupyter_notebook/financial_analysis/data/ifrs_kosdaq_quarterly/'+company_name + '.xlsx')
        pbr_recently = len(company_ifrs['PBR(배)'].dropna()) - 1
        company_ifrs['PBR(배)'].dropna(inplace = True)
        company_pbr = company_ifrs['PBR(배)'].reset_index()
        pbr = company_pbr['PBR(배)'][pbr_recently]
        
        
        if(pbr < 0.2):
            continue
        else:
            pbr_list.append([kosdaq_bottom[i], pbr])
    
    except:
        print('ETF:'+ kosdaq_bottom[i])

ETF:윌링스
ETF:마이크로프랜드
ETF:자비스
ETF:지에스이
ETF:버킷스튜디오
ETF:제룡산업
ETF:팬스타엔터프라이즈
ETF:신라섬유
ETF:위세아이텍
ETF:아진엑스텍
ETF:세원물산
ETF:애니젠
ETF:한솔시큐어
ETF:나우IB
ETF:서전기전
ETF:동신건설
ETF:한국바이오젠
ETF:대신정보통신
ETF:우양
ETF:샘코
ETF:케이씨에스
ETF:화신정공
ETF:엔지스테크널러지
ETF:소프트캠프
ETF:에이디칩스
ETF:맥스로텍
ETF:부스타
ETF:드래곤플라이
ETF:옵티시스
ETF:알로이스
ETF:애니플러스
ETF:타이거일렉
ETF:우림기계
ETF:뉴보텍
ETF:경남스틸
ETF:한솔인티큐브
ETF:아즈텍WB
ETF:아이엘사이언스
ETF:다믈멀티미디어
ETF:수산아이앤티
ETF:동방선기
ETF:피델릭스
ETF:네이블
ETF:삼일기업공사
ETF:케이씨티
ETF:휴마시스
ETF:에스에스알
ETF:아이에이네트웍스
ETF:와토스코리아
ETF:한네트
ETF:브리지텍
ETF:네오오토
ETF:멜파스
ETF:피앤씨테크
ETF:포메탈
ETF:아이컴포넌트
ETF:패션플랫폼
ETF:제너셈
ETF:삼일
ETF:리더스 기술투자
ETF:유니맥스글로벌
ETF:이씨에스
ETF:픽셀플러스
ETF:이퓨쳐
ETF:전진바이오팜
ETF:로지시스
ETF:오파스넷
ETF:한창산업
ETF:오스테오닉
ETF:대동기어
ETF:대동금속
ETF:동일철강
ETF:토탈소프트
ETF:비츠로시스
ETF:디지아이
ETF:ITX엠투엠
ETF:광진실업
ETF:PN풍년
ETF:지스마트글로벌
ETF:형지I&C
ETF:에스앤더블류
ETF:청보산업
ETF:한국정밀기계
ETF:엘디티
ETF:엔에이치스팩14호
ETF:케이비제18호스팩
ETF:삼성스팩2호
ETF:엔에이치스팩12호
ETF:한화에스비아이스팩
ETF:에스디시스템
ETF:유안타제6호스팩
ETF:엔에이치스팩15호
ETF:미래에셋대우스팩3호
ETF:케이비제20호스팩
ETF:신한제4호스팩
ETF:유안타제5호스팩
ETF:DB금융스팩6호
ETF:하나금융11호스팩
ETF:대신밸런스제8호스팩
ETF:케이비17호스팩
ETF:SK4호스팩
ETF:대신밸런스제7호스팩
ETF:한국제7호스팩
ETF:동부스팩5호
ETF:대신밸런스제6호스팩
ETF:하이제5호스팩
ETF:신한제6호스팩
ETF:IBKS제11호스팩
ETF:상상인이안1호스팩
ETF:유안타제4호스팩
ETF:하나금융15호스팩
ETF:한화플러스제1호스팩
ETF:삼성머스트스팩3호
ETF:하나머스트제6호스팩
ETF:하나금융10호스팩
ETF:한국제6호스팩
ETF:DB금융스팩7호
ETF:하나금융9호스팩
ETF:하이제4호스팩
ETF:하나금융14호스팩
ETF:IBKS제10호스팩
ETF:미래에셋대우스팩4호
ETF:유안타제3호스팩
ETF:신한제5호스팩
ETF:케이비제19호스팩
ETF:루트로닉3우C
ETF:SK5호스팩
ETF:교보7호스팩
ETF:한국제5호스팩
ETF:유진스팩5호
ETF:교보9호스팩
ETF:상상인이안제2호스팩
ETF:교보8호스팩
ETF:IBKS제7호스팩
ETF:키움제5호스팩
ETF:신영스팩5호
ETF:한화에이스스팩4호
ETF:유진스팩4호
ETF:하나금융13호스팩
ETF:엔에이치스팩13호
ETF:한국제8호스팩
ETF:대호피앤씨우
ETF:이베스트이안스팩1호
ETF:IBKS제12호스팩
ETF:소프트센우

In [12]:
pbr_df = pd.DataFrame(pbr_list, columns= ['기업명', 'PBR'])

In [13]:
pbr_df

        기업명   PBR
0      MP한강  1.29
1        나노  1.04
2    W홀딩컴퍼니  0.71
3       모헨즈  2.15
4     티로보틱스  1.89
..      ...   ...
242     감마누  0.36
243      럭슬  0.93
244    에스마크  0.39
245  에스제이케이  2.44
246      모다  1.59

[247 rows x 2 columns]

In [14]:
pbr_df.sort_values(by=['PBR'],ascending=True).dropna()

        기업명    PBR
40     무림SP   0.26
60    골든센츄리   0.26
139  휴맥스홀딩스   0.27
185    우리조명   0.31
160    원일특강   0.35
..      ...    ...
128     팍스넷   6.22
157     테라셈   9.15
112   에이앤티앤  11.94
39     지엘팜텍  16.79
61     하이소닉  41.97

[247 rows x 2 columns]

In [ ]:
per_list = []
for i in range(0, len(kosdaq_bottom)):
    try:
        company_name = kosdaq_bottom[i]
        company_ifrs = pd.read_excel('/workspace/Jupyter_notebook/financial_analysis/data/ifrs_kosdaq_quarterly/'+company_name + '.xlsx')
        per_recently = len(company_ifrs['PER(배)'].dropna()) - 1
        company_ifrs['PER(배)'].dropna(inplace = True)
        company_per = company_ifrs['PER(배)'].reset_index()
        #print(company_per)
        per = company_per['PER(배)'][per_recently]
        if(per < 0):
            continue
        elif(per < 10):
            per_list.append([kosdaq_bottom[i], per])

            
    except:
        print()